html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.demo {
	width: 40rem;
	height: 40rem;
	margin: 2rem auto 0;
	background-size: cover;
}

.demo table td {
	width: 14rem;
	height: 14rem;
	text-align: center;
	vertical-align: middle;
	font-size: 2.4rem;
	color: #333;
	font-index: -999;
}

.draw button{
	background-color: #fa8072;
	color: #fff;
	width: 14rem;
	height: 14rem;
}

.active {
	background-color: yellow;
}

.hidden {
	background-color: #8ed9f9;
}
